<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preload" href="/assets/images/about_header.svg" as="image">
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>About METR</title>
<script type="application/ld+json">
  {
    "@context" : "https://schema.org",
    "@type" : "WebSite",
    "name" : "METR",
    "url" : "https://metr.org/"
  }
</script>

  <meta name="description" content="Model Evaluation & Threat Research"/>



  <meta name="og:title" content="About METR"/>
  <meta name="twitter:title" content="About METR"/>



  <meta name="og:type" content="website">





  <meta name="og:image" content="https://metr.org/assets/images/logo/logo.png">
  <meta name="twitter:image" content="https://metr.org/assets/images/logo/logo-meta.png">
  
    <meta name="twitter:card" content="summary">
  








    <link rel="icon" href="/assets/images/favicon/favicon.png">
    <link
      rel="stylesheet"
      href="/assets/css/littlefoot.css"
    />
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <!--<script type="text/javascript">
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.setAttribute("data-mode", "dark");
      }
    </script>
    <script>
      let darkMode = localStorage.getItem("darkMode");
      if (darkMode === "true") {
        document.documentElement.setAttribute("data-mode", "dark");
      }
    </script>-->
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PL14XDZSTH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PL14XDZSTH');
</script></head>
<script>
  if (window.location.hostname === 'evals.alignment.org') {
    window.location.href = 'http://metr.org' + window.location.pathname;
  }
</script>
<body class="page page-projects has-fixed-header">
<div id="wrapper" class="wrapper">
  <div>
    <style>
  .menu-main-mobile {
    visibility: hidden;
  }
</style>
<div class="menu-main-mobile " id="menu-main-mobile">
  
  <div class="menu-main-mobile-top">
    <div id="close-overlay" class="menu-main-close">
      <div class="hamburger"></div>
    </div>
  </div>

  <div class="menu-main-mobile-center">
    
      <ul class="menu">
        
          
          
          
          <li class="menu-item-home ">
            <a href="/">Home</a>
          </li>
        
          
          
          
          <li class="menu-item-team ">
            <a href="/team">Team</a>
          </li>
        
          
          
          
          <li class="menu-item-hiring ">
            <a href="/hiring">Hiring</a>
          </li>
        
          
          
          
          <li class="menu-item-donate ">
            <a href="/donate">Donate</a>
          </li>
        
          
          
          
          <li class="menu-item-blog ">
            <a href="/blog">Blog</a>
          </li>
        
      </ul>
    
  </div>

  <div class="menu-main-mobile-bottom">
    
      


    
    
  </div>

</div>


    

<div id="header" class='header header-fixed  header-transparent'>
  <div class="nav-container">
    <style>
  .logo-slideable-text {
    opacity: 0;
  }
</style>
<div class="logos">
  <div class="logo logo-desktop">
    <div class="logo-image">
      <a href="/">
        <img height="34px" alt="METR Logo" src="/assets/images/gen/home/evals-logo-slideable.svg" class="logo-slideable-image" />
        <div class="logo-text">METR</div>
        <!--<div height="28px" alt="METR Logo text"
          class="logo-slideable-text">
          &nbsp;
        </div> -->
      </a>
    </div>
  </div>

  <div class="logo logo-desktop-invert">
    <div class="logo-image">
      <a href="/">
        <img height="41px" alt="METR Logo" src="/assets/images/gen/home/evals-logo-slideable-invert.svg" class="logo-slideable-image" />
        <div height="28px" alt="METR Logo text"
          class="logo-slideable-text">
          &nbsp;
        </div>
      </a>
    </div>
  </div>
</div>

    <div class="menu-main">
  <ul>
    
      
      
      
      
        <li class="">
          <a href="/">Home</a>
        </li>
      
    
      
      
      
      
        <li class="">
          <a href="/team">Team</a>
        </li>
      
    
      
      
      
      
        <li class="">
          <a href="/hiring">Hiring</a>
        </li>
      
    
      
      
      
      
        <li class="">
          <a href="/donate">Donate</a>
        </li>
      
    
      
      
      
      
        <li class="">
          <a href="/blog">Blog</a>
        </li>
      
    
  </ul>
</div>

    
    <div class="hamburger-trigger" id="toggle-menu-main-mobile">
  <button class="hamburger">Menu</button>
</div>
  </div>
</div>

    
  





































  
  
  <style>.hero-text::before { width: 0 }</style>


<style>
  
  .fade-in-subheading { opacity: 0 }
</style>

<div class="hero 
  
  hero-fullscreen-mobile
 
  
  
 height358" style="
  
 
  
">
  <div class="hero-background-image " style="
  background-image: url('/assets/images/about_header.svg');
  
"></div>
  
  <div class="container">
    <div class="row justify-content-center override-content-width">
      <div class="col-12 col-lg-8 sm-no-padding">
        
        <div class="hero-text ">
          <div class="title-text no-subheading animate-subheading">
            
            
            <h1 class="fade-in-subheading animate-subheading " >About Us</h1>
            <div class="fade-in-subheading animate-subheading">
              
              
                <p class="subheading2" >(Replace) We’re dedicated to learning how to give as well as possible. Here’s what we’ve done so far.</p>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <script>
      function fadeInSubheading() {
        const el = document.querySelector('.fade-in-subheading:not(.arrived)')
        el.style.opacity = 1;
        el.style.transform = 'translateY(0)';
        el.classList.add('arrived');
        if (document.querySelector('.fade-in-subheading:not(.arrived)')) {
          window.setTimeout(fadeInSubheading, 1); //250);
        }
      }
      function initFades() {
        document.querySelector('.hero-text').classList.add('arrived');
        window.setTimeout(fadeInSubheading, 1); //300);
      }
      window.setTimeout(initFades, 1); //400);
    </script>
  
</div>


<div class="section section-content about-page ">
  <div class="container">
    <div class="row justify-content-center override-content-width">

      <div class="col-12 col-lg-8">
        
        <div class="content"><div class="divider">01</div>

<h2 id="partnerships">Partnerships</h2>

<div class="container">
    <div class="row">
      <div class="col-12 col-md-4 flex-center">
        <img src="/assets/images/open-ai-logo.png" class="mtb-20" />
      </div>
      <div class="col-12 col-md-4 flex-center">
        <img src="/assets/images/anthropic-logo.png" class="mtb-20" />
      </div>
      <div class="col-12 col-md-4 flex-center">
        <img src="/assets/images/gov-uk-logo.png" class="mtb-20" />
      </div>
    </div>
  </div>

<div class="divider">02</div>

<h2 id="our-work">Our Work</h2>

<div class="row">
  
  
    
    <div class="col-12 col-md-6">
      













<div class="card card-post card-column  ">
  <a href="/blog/2024-03-13-autonomy-evaluation-resources/">
    
      <div class="card-date">
        15 March 2024
      </div>
    
    <div class="card-content">
      
        <div class="card-title">
          Autonomy Evaluation Resources
        </div>
      

      
        <div class="card-description">
          <p>A collection of resources for evaluating potentially dangerous autonomous capabilities of frontier models.</p>
        </div>
      
    </div>
  </a>
</div>
    </div>
    
    
  
    
    <div class="col-12 col-md-6">
      













<div class="card card-post card-column  ">
  <a href="/blog/2024-02-29-METR-task-standard/">
    
      <div class="card-date">
        29 February 2024
      </div>
    
    <div class="card-content">
      
        <div class="card-title">
          Portable Evaluation Tasks via the METR Task Standard
        </div>
      

      
        <div class="card-description">
          <p>METR has published a standard way to define tasks for evaluating the capabilities of AI agents.</p>
        </div>
      
    </div>
  </a>
</div>
    </div>
    
    
  
    
    <div class="col-12 col-md-6">
      













<div class="card card-post card-column  ">
  <a href="/blog/2024-02-07-2023-year-in-review/">
    
      <div class="card-date">
        07 February 2024
      </div>
    
    <div class="card-content">
      
        <div class="card-title">
          2023 Year In Review
        </div>
      

      
        <div class="card-description">
          <p>A summary of what METR accomplished in 2023 – our first full year of operation.</p>
        </div>
      
    </div>
  </a>
</div>
    </div>
    
    
  
    
    <div class="col-12 col-md-6">
      













<div class="card card-post card-column  ">
  <a href="/blog/2023-12-16-bounty-diverse-hard-tasks-for-llm-agents/">
    
      <div class="card-date">
        16 December 2023
      </div>
    
    <div class="card-content">
      
        <div class="card-title">
          Bounty: Diverse hard tasks for LLM agents
        </div>
      

      
        <div class="card-description">
          <p>METR (formerly ARC Evals) is looking for (1) ideas, (2) detailed specifications, and (3) well-tested implementations for tasks to measure performance of autonomous LLM agents.</p>
        </div>
      
    </div>
  </a>
</div>
    </div>
    
    
  
    
    <div class="col-12 col-md-6">
      













<div class="card card-post card-column  ">
  <a href="/blog/2023-12-04-metr-announcement/">
    
      <div class="card-date">
        04 December 2023
      </div>
    
    <div class="card-content">
      
        <div class="card-title">
          ARC Evals is now METR
        </div>
      

      
        <div class="card-description">
          <p>ARC Evals is wrapping up our incubation period at ARC, and spinning off into our own standalone nonprofit.</p>
        </div>
      
    </div>
  </a>
</div>
    </div>
    
    
  
    
    <div class="col-12 col-md-6">
      













<div class="card card-post card-column  ">
  <a href="/blog/2023-09-26-rsp/">
    
      <div class="card-date">
        26 September 2023
      </div>
    
    <div class="card-content">
      
        <div class="card-title">
          Responsible Scaling Policies (RSPs)
        </div>
      

      
        <div class="card-description">
          <p>We describe the basic components of Responsible Scaling Policies (RSPs) as well as why we find them promising for reducing catastrophic risks from AI.</p>
        </div>
      
    </div>
  </a>
</div>
    </div>
    
    
  
    
    <div class="col-12 col-md-6">
      













<div class="card card-post card-column  ">
  <a href="/blog/2023-09-19-spin-out-announcement/">
    
      <div class="card-date">
        19 September 2023
      </div>
    
    <div class="card-content">
      
        <div class="card-title">
          ARC Evals is spinning out from ARC
        </div>
      

      
        <div class="card-description">
          <p>ARC Evals plans to spin out from the Alignment Research Center (ARC) in the coming months, and become its own standalone organization.</p>
        </div>
      
    </div>
  </a>
</div>
    </div>
    
    
  
    
    <div class="col-12 col-md-6">
      













<div class="card card-post card-column  ">
  <a href="/blog/2023-08-01-new-report/">
    
      <div class="card-date">
        31 July 2023
      </div>
    
    <div class="card-content">
      
        <div class="card-title">
          New report: Evaluating Language-Model Agents on Realistic Autonomous Tasks
        </div>
      

      
        <div class="card-description">
          <p>We have just released our first public report. It introduces methodology for assessing the capacity of LLM agents to acquire resources, create copies of themselves, and adapt to novel challenges they encounter in the wild.</p>
        </div>
      
    </div>
  </a>
</div>
    </div>
    
    
  
    
    <div class="col-12 col-md-6">
      













<div class="card card-post card-column  ">
  <a href="/blog/2023-03-18-update-on-recent-evals/">
    
      <div class="card-date">
        17 March 2023
      </div>
    
    <div class="card-content">
      
        <div class="card-title">
          Update on ARC's recent eval efforts
        </div>
      

      
        <div class="card-description">
          <p>More information about ARC's evaluations of GPT-4 and Claude</p>
        </div>
      
    </div>
  </a>
</div>
    </div>
    
    
  
</div>

<div class="text-center mb-2">
  <a href="/blog" class="button button-primary button-light button-wide">
    See more
  </a>
</div>

<div class="divider">03</div>

<h2 id="what-we-do">What we do</h2>

<p>Blurb about what we do</p>

<h3 id="elicitation-project">Elicitation Project</h3>

<p>We believe that at some point, AIs will probably be able to do most of what humans can do, including developing new technologies; starting businesses and making money; finding new cybersecurity exploits and fixes; and more.</p>

<h3 id="tasks">Tasks</h3>

<p>We believe that at some point, AIs will probably be able to do most of what humans can do, including developing new technologies; starting businesses and making money; finding new cybersecurity exploits and fixes; and more.</p>

<h3 id="threat-modeling">Threat Modeling</h3>

<p>We believe that at some point, AIs will probably be able to do most of what humans can do, including developing new technologies; starting businesses and making money; finding new cybersecurity exploits and fixes; and more.</p>

<h3 id="responsible-scaling-policies">Responsible Scaling Policies</h3>

<p>We believe that at some point, AIs will probably be able to do most of what humans can do, including developing new technologies; starting businesses and making money; finding new cybersecurity exploits and fixes; and more.</p>

<div class="divider">04</div>

<h2 id="ais-transformative-potential">AI’s transformative potential</h2>

<p>We believe that at some point, AIs will probably be able to do most of what humans can do, including developing new technologies; starting businesses and making money; finding new cybersecurity exploits and fixes; and more.</p>

<p>We think it’s very plausible that AI systems could end up misaligned: pursuing goals that are at odds with a thriving civilization. This could be due to a deliberate effort to cause chaos[1], or (more likely) may happen in spite of efforts to make systems safe[2]. If we do end up with misaligned AI systems, the number, capabilities and speed of such AIs could cause enormous harm - plausibly a global catastrophe. If these systems could also autonomously replicate and resist attempts to shut them down, it would seem difficult to put an upper limit on the potential damage.</p>

<p>Given how quickly things could play out, we don’t think it’s good enough to “wait and see” whether there are dangers.</p>

<p>We believe in vigilantly, continually assessing risks. If an AI brings significant risk of a global catastrophe, the decision to develop and/or release it can’t lie only with the company that creates it.</p>

</div>
      </div>

      

    </div>
  </div>
</div>




  </div>
  <div class="footer-container">
    
      <footer class="footer">
  <div class="container">
    <div class="row justify-content-center override-content-width">
      <div class="col-12 col-md-4 footer-logo">
        <a href="/" class="logo-link">
          <img alt="ARC Evals Logo" src="/assets/images/logo/logo-invert.svg" class="logo-slideable-image">
          <div class="logo-text">METR</div>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <ul>
          
            
            
              
              
              
              <li class="">
                <a href="/blog">Blog</a>
              </li>
            
          
            
            
              
              
              
              <li class="">
                <a href="/team">Team</a>
              </li>
            
          
            
            
              
              
              
              <li class="">
                <a href="/hiring">Hiring</a>
              </li>
            
          
            
            
              
              
              
              <li class="">
                <a href="/donate">Donate</a>
              </li>
            
          
        </ul>
      </div>
      <div class="col-12 col-md-4 contact-email">
        <span class="email-label">Email:&nbsp;&nbsp;</span> <a href="/cdn-cgi/l/email-protection#b7ded9d1d8f7dad2c3c599d8c5d0"><span class="__cf_email__" data-cfemail="31585f575e715c5445431f5e4356">[email&#160;protected]</span></a>
      </div>
    </div>
  </div>
</footer>

    

    
  </div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="/assets/js/scripts.js"></script>

  <script type="text/javascript" src="/assets/js/header.js"></script>

<script type="text/javascript" src="/assets/js/hamburger.js"></script>
<script type="text/javascript" src="/assets/js/darkModeSwitch.js"></script>


<!--   
  
    
   -->
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MMLYWX6QCN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MMLYWX6QCN');
</script>


<script
  src="/assets/js/littlefoot.js"
  type="application/javascript"
></script>
<script type="application/javascript">
  littlefoot.littlefoot({
    activateOnHover: true,
    dismissOnUnhover: true,
    buttonTemplate: `<button
aria-label="Footnote <% number %>"
class="littlefoot__button"
id="<% reference %>"
title="See Footnote <% number %>"
/>
[<% number %>]
</button>`
  })
</script>

</body>
</html>