<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preload" href="/assets/images/donate_header.svg" as="image">
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Donate</title>
<script type="application/ld+json">
  {
    "@context" : "https://schema.org",
    "@type" : "WebSite",
    "name" : "METR",
    "url" : "https://metr.org/"
  }
</script>

  <meta name="description" content="Model Evaluation & Threat Research"/>



  <meta name="og:title" content="Donate"/>
  <meta name="twitter:title" content="Donate"/>



  <meta name="og:type" content="website">





  <meta name="og:image" content="https://metr.org/assets/images/logo/logo.png">
  <meta name="twitter:image" content="https://metr.org/assets/images/logo/logo-meta.png">
  
    <meta name="twitter:card" content="summary">
  








    <link rel="icon" href="/assets/images/favicon/favicon.png">
    <link
      rel="stylesheet"
      href="/assets/css/littlefoot.css"
    />
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <!--<script type="text/javascript">
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.setAttribute("data-mode", "dark");
      }
    </script>
    <script>
      let darkMode = localStorage.getItem("darkMode");
      if (darkMode === "true") {
        document.documentElement.setAttribute("data-mode", "dark");
      }
    </script>-->
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PL14XDZSTH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PL14XDZSTH');
</script></head>
<script>
  if (window.location.hostname === 'evals.alignment.org') {
    window.location.href = 'http://metr.org' + window.location.pathname;
  }
</script>
<body class="page page-projects has-fixed-header">
<div id="wrapper" class="wrapper">
  <div>
    <style>
  .menu-main-mobile {
    visibility: hidden;
  }
</style>
<div class="menu-main-mobile " id="menu-main-mobile">
  
  <div class="menu-main-mobile-top">
    <div id="close-overlay" class="menu-main-close">
      <div class="hamburger"></div>
    </div>
  </div>

  <div class="menu-main-mobile-center">
    
      <ul class="menu">
        
          
          
          
          <li class="menu-item-home ">
            <a href="/">Home</a>
          </li>
        
          
          
          
          <li class="menu-item-team ">
            <a href="/team">Team</a>
          </li>
        
          
          
          
          <li class="menu-item-hiring ">
            <a href="/hiring">Hiring</a>
          </li>
        
          
          
          
          <li class="menu-item-donate active">
            <a href="/donate">Donate</a>
          </li>
        
          
          
          
          <li class="menu-item-blog ">
            <a href="/blog">Blog</a>
          </li>
        
      </ul>
    
  </div>

  <div class="menu-main-mobile-bottom">
    
      


    
    
  </div>

</div>


    

<div id="header" class='header header-fixed  header-transparent'>
  <div class="nav-container">
    <style>
  .logo-slideable-text {
    opacity: 0;
  }
</style>
<div class="logos">
  <div class="logo logo-desktop">
    <div class="logo-image">
      <a href="/">
        <img height="34px" alt="METR Logo" src="/assets/images/gen/home/evals-logo-slideable.svg" class="logo-slideable-image" />
        <div class="logo-text">METR</div>
        <!--<div height="28px" alt="METR Logo text"
          class="logo-slideable-text">
          &nbsp;
        </div> -->
      </a>
    </div>
  </div>

  <div class="logo logo-desktop-invert">
    <div class="logo-image">
      <a href="/">
        <img height="41px" alt="METR Logo" src="/assets/images/gen/home/evals-logo-slideable-invert.svg" class="logo-slideable-image" />
        <div height="28px" alt="METR Logo text"
          class="logo-slideable-text">
          &nbsp;
        </div>
      </a>
    </div>
  </div>
</div>

    <div class="menu-main">
  <ul>
    
      
      
      
      
        <li class="">
          <a href="/">Home</a>
        </li>
      
    
      
      
      
      
        <li class="">
          <a href="/team">Team</a>
        </li>
      
    
      
      
      
      
        <li class="">
          <a href="/hiring">Hiring</a>
        </li>
      
    
      
      
      
      
        <li class="active">
          <a href="/donate">Donate</a>
        </li>
      
    
      
      
      
      
        <li class="">
          <a href="/blog">Blog</a>
        </li>
      
    
  </ul>
</div>

    
    <div class="hamburger-trigger" id="toggle-menu-main-mobile">
  <button class="hamburger">Menu</button>
</div>
  </div>
</div>

    
  





































  
  
  <style>.hero-text::before { width: 0 }</style>


<style>
  
  .fade-in-subheading { opacity: 0 }
</style>

<div class="hero 
  
  
 
  
  
 height358" style="
  background-color: #F6FAF7;
 
  
">
  <div class="hero-background-image hero-background-image-right-only" style="
  background-image: url('/assets/images/donate_header.svg');
  
"></div>
  
  <div class="container">
    <div class="row justify-content-center override-content-width">
      <div class="col-12 col-lg-8 sm-no-padding">
        
        <div class="hero-text half-width">
          <div class="title-text no-subheading animate-subheading">
            
            
            <h1 class="fade-in-subheading animate-subheading " >Donate</h1>
            <div class="fade-in-subheading animate-subheading">
              
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <script>
      function fadeInSubheading() {
        const el = document.querySelector('.fade-in-subheading:not(.arrived)')
        el.style.opacity = 1;
        el.style.transform = 'translateY(0)';
        el.classList.add('arrived');
        if (document.querySelector('.fade-in-subheading:not(.arrived)')) {
          window.setTimeout(fadeInSubheading, 1); //250);
        }
      }
      function initFades() {
        document.querySelector('.hero-text').classList.add('arrived');
        window.setTimeout(fadeInSubheading, 1); //300);
      }
      window.setTimeout(initFades, 1); //400);
    </script>
  
</div>


<div class="section section-content donate-page ">
  <div class="container">
    <div class="row justify-content-center override-content-width">

      <div class="col-12 col-lg-8">
        
        <div class="content"><div class="text-center mb-2">
  <a href="https://www.every.org/alignment/f/donate-to-the-arc-evals#/donate/card" class="button button-primary button-big" style="margin-bottom: 1em;">
    Donate to METR
  </a>
</div>

<h2 id="donating-via-everyorg">Donating via every.org</h2>

<p>The button above goes to a third party donation processor, every.org</p>

<ul>
  <li>All donations are unrestricted, even if you give to a specific fundraiser. Every.org re-grants to METR as a batched, unrestricted donation.</li>
  <li>You do not need to tip every.org, they were emphatic about this when asked. They do not charge METR for use of the platform.</li>
  <li>Transaction fees are deducted out of your donation. Here are the <a href="https://www.every.org/disbursements#fees">fees by donation type</a>.</li>
</ul>

<h2 id="direct-donations">Direct donations</h2>

<p>Every.org can facilitate donations of any size, and we recommend using it to make donations of up to $50,000. If you would like us to facilitate a larger direct donation or have other questions, please <a href="/cdn-cgi/l/email-protection#8ce8e3e2edf8e5e3e2ffccede0e5ebe2e1e9e2f8a2e3feeb">get in touch</a>.</p>
</div>
      </div>

      

    </div>
  </div>
</div>




  </div>
  <div class="footer-container">
    
      <footer class="footer">
  <div class="container">
    <div class="row justify-content-center override-content-width">
      <div class="col-12 col-md-4 footer-logo">
        <a href="/" class="logo-link">
          <img alt="ARC Evals Logo" src="/assets/images/logo/logo-invert.svg" class="logo-slideable-image">
          <div class="logo-text">METR</div>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <ul>
          
            
            
              
              
              
              <li class="">
                <a href="/blog">Blog</a>
              </li>
            
          
            
            
              
              
              
              <li class="">
                <a href="/team">Team</a>
              </li>
            
          
            
            
              
              
              
              <li class="">
                <a href="/hiring">Hiring</a>
              </li>
            
          
            
            
              
              
              
              <li class="active">
                <a href="/donate">Donate</a>
              </li>
            
          
        </ul>
      </div>
      <div class="col-12 col-md-4 contact-email">
        <span class="email-label">Email:&nbsp;&nbsp;</span> <a href="/cdn-cgi/l/email-protection#c3aaada5ac83aea6b7b1edacb1a4"><span class="__cf_email__" data-cfemail="e68f888089a68b839294c8899481">[email&#160;protected]</span></a>
      </div>
    </div>
  </div>
</footer>

    

    
  </div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="/assets/js/scripts.js"></script>

  <script type="text/javascript" src="/assets/js/header.js"></script>

<script type="text/javascript" src="/assets/js/hamburger.js"></script>
<script type="text/javascript" src="/assets/js/darkModeSwitch.js"></script>


<!--   
  
    
   -->
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MMLYWX6QCN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MMLYWX6QCN');
</script>


<script
  src="/assets/js/littlefoot.js"
  type="application/javascript"
></script>
<script type="application/javascript">
  littlefoot.littlefoot({
    activateOnHover: true,
    dismissOnUnhover: true,
    buttonTemplate: `<button
aria-label="Footnote <% number %>"
class="littlefoot__button"
id="<% reference %>"
title="See Footnote <% number %>"
/>
[<% number %>]
</button>`
  })
</script>

</body>
</html>