<!DOCTYPE html>
<html lang="en">
  <head>
    
      <link rel="preload" href="/assets/images/donate_header.svg" as="image">
    
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Donate</title>

  <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "METR",
      "url" : "https://metr.org/"
    }
  </script>


  <meta property="description" content="Model Evaluation & Threat Research"/>



  <meta property="og:title" content="Donate"/>
  <meta property="twitter:title" content="Donate"/>



  <meta property="og:type" content="website">





  <meta property="og:image" content="https://metr.org/assets/images/logo/logo-montserrat-ratio-2-1-white-bg.png?1">
  <meta property="twitter:image" content="https://metr.org/assets/images/logo/logo-montserrat-ratio-2-1-white-bg.png?1">



  <meta property="twitter:card" name="twitter:card" content="summary_large_image">








    
      <link rel="icon" href="/assets/images/favicon/favicon.png">
    
    <link
      rel="stylesheet"
      href="/assets/css/littlefoot.css"
    />
    <link href="/assets/css/main.css?v=1754026791" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <script src="/assets/js/tocbot.js"></script>
    <link rel="preload" href="/assets/js/substackapi_widget.js" as="script">

    
  </head>
<script>
  if (window.location.hostname === 'evals.alignment.org') {
    window.location.href = 'http://metr.org' + window.location.pathname;
  }
</script>
<body class="page page-projects has-static-header">
<div id="wrapper" class="wrapper">
  <div>
    <style>
  .menu-main-mobile {
    visibility: hidden;
  }
</style>
<div class="menu-main-mobile " id="menu-main-mobile">
  
  <div class="menu-main-mobile-top">
    <div id="close-overlay" class="menu-main-close">
      <div class="hamburger"></div>
    </div>
  </div>

  <div class="menu-main-mobile-center">
    
      <ul class="menu">
        
          <li class="menu-item-home ">
            <a href="/">Home</a>
          </li>
        
          <li class="menu-item-about ">
            <a href="/about">About</a>
          </li>
        
          <li class="menu-item-research ">
            <a href="/research">Research</a>
          </li>
        
          <li class="menu-item-updates ">
            <a href="/blog">Updates</a>
          </li>
        
          <li class="menu-item-careers ">
            <a href="/careers">Careers</a>
          </li>
        
          <li class="menu-item-donate active">
            <a href="/donate">Donate</a>
          </li>
        

        
        <li class="">
          <a href="/search">
            Search
            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="position: relative; top: 6px; right: -4px">
              <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#fdfcf9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </li>
      </ul>
    
  </div>

  <div class="menu-main-mobile-bottom">
    
      


    
    
  </div>

</div>


    

<div id="header" class='header header-transparent'>
  <div class="nav-container">
    <style>
  .logo-slideable-text {
    opacity: 0;
  }
</style>
<div class="logos ">
  <div class="logo logo-desktop">
    <div class="logo-image">
      <a href="/">
        <img height="34px" alt="METR Logo" src="/assets/images/gen/home/evals-logo-slideable.svg" class="logo-slideable-image" />
        <div class="logo-text">METR</div>
        <!--<div height="28px" alt="METR Logo text"
          class="logo-slideable-text">
          &nbsp;
        </div> -->
      </a>
    </div>
  </div>

  <div class="logo logo-desktop-invert">
    <div class="logo-image">
      <a href="/">
        <img height="41px" alt="METR Logo" src="/assets/images/gen/home/evals-logo-slideable-invert.svg" class="logo-slideable-image" />
        <div height="28px" alt="METR Logo text"
          class="logo-slideable-text">
          &nbsp;
        </div>
      </a>
    </div>
  </div>
</div>

    <div class="menu-main ">
  <ul>
    
      
        <li class="">
          <a href="/">Home</a>
        </li>
      
    
      
        <li class="">
          <a href="/about">About</a>
        </li>
      
    
      
        <li class="">
          <a href="/research">Research</a>
        </li>
      
    
      
        <li class="">
          <a href="/blog">Updates</a>
        </li>
      
    
      
        <li class="">
          <a href="/careers">Careers</a>
        </li>
      
    
      
        <li class="active">
          <a href="/donate">Donate</a>
        </li>
      
    

    
    <li class="menu-item-dropdown menu-item-search ">
      <div class="searchbar-container">
        <a href="#" class="search-trigger">
          <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#18623C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <form role="search" action="/search" class="search-form search-form-top-bar">
          <div>
            <input name="q" type="text" placeholder="Search..." maxlength="240" value="">
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>

    
    <div class="hamburger-trigger" id="toggle-menu-main-mobile">
  <button class="hamburger">Menu</button>
</div>
  </div>
</div>

    
  






















<style>.hero-text::before { width: 0 }</style><style>
  
  .fade-in-subheading { opacity: 0 }
</style>

<div class="hero   " style="background-color: #F6FAF7; ">
  <div class="hero-background-image hero-background-image-right-only" style="background-image: url('/assets/images/donate_header.svg');"></div>
  
  <div class="container">
    <div class="row justify-content-center override-content-width">
      <div class="col-12 col-lg-8 sm-no-padding">
        <div class="hero-text half-width">
          <div class="title-text no-subheading animate-subheading">
            
            
            
            <h1 class="fade-in-subheading animate-subheading  " >Donate</h1>
            <div class="fade-in-subheading animate-subheading">
              
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <script>
      function fadeInSubheading() {
        const el = document.querySelector('.fade-in-subheading:not(.arrived)')
        el.style.opacity = 1;
        el.style.transform = 'translateY(0)';
        el.classList.add('arrived');
        if (document.querySelector('.fade-in-subheading:not(.arrived)')) {
          window.setTimeout(fadeInSubheading, 1); //250);
        }
      }
      function initFades() {
        document.querySelector('.hero-text').classList.add('arrived');
        window.setTimeout(fadeInSubheading, 1); //300);
      }
      window.setTimeout(initFades, 1); //400);
    </script>
  
</div>





<div class="section section-content donate-page ">
  <div class="container">
    <div class="row justify-content-center override-content-width">

      <div class="col-12 col-lg-8">
        

        <div class="content">
          <nav class="toc-sidebar"><div class="toc-container"></div></nav>
          <p>Donations fund the assessment of AI capabilities, risks and mitigations. This primarily means developing cutting-edge methods for measuring these things, as well as running those measurements and directly supporting AI decision-makers who want to improve their risk management.</p>
<ul>
  <li>Highlighted work: The length of tasks AI agents can complete has doubled very approximately every 7 months for 6 years (<a href="https://arxiv.org/pdf/2503.14499">paper</a>, <a href="/blog/2025-03-19-measuring-ai-ability-to-complete-long-tasks/">overview</a>, <a href="https://x.com/METR_Evals/status/1902384481111322929">X thread</a>). This research is now central to forecasts of when AI will have very large impacts on the world. The paper’s findings were also covered in the <a href="https://www.ft.com/content/471b5eba-2a71-4650-a019-e8d4065b78a0">Financial Times</a>, <a href="https://www.nature.com/articles/d41586-025-00831-8">Nature</a>, and elsewhere.</li>
  <li>For other featured work, please see our <a href="/">homepage</a>. For our latest outputs, please see our <a href="/research/">Research page</a>.</li>
</ul>

<p>METR’s work is funded entirely by donations like yours. This has been crucial for our ability to pursue groundbreaking projects and set standards for evidence-based understanding of risks from AI. Being independently funded is also part of how we ensure that our research is as accurate as possible.<sup id="fnref:1"><a href="#fn:1" class="footnote" rel="footnote" role="doc-noteref">1</a></sup></p>

<h2 id="organization-details">Organization details</h2>
<ul>
  <li>Legal name: Model Evaluation and Threat Research, Inc.</li>
  <li>EIN: 99-1219864</li>
  <li>Address: 440 N Barranca Ave #3345 Covina, CA 91723</li>
  <li>Charity Contact: Kyle Scott, Treasurer. (707) 500-1002, donations@metr.org</li>
</ul>

<h2 id="donating-via-everyorg">Donating via every.org</h2>

<p>For most donation methods (cash, crypto, DAF, etc), we recommend giving via every.org</p>

<div class="text-center mb-2">
  <a href="https://www.every.org/metr?donateTo=metr#/donate/card" class="button button-primary button-big" style="margin-bottom: 1em;">
    Donate to METR via every.org
  </a>
</div>
<p>Notes on giving via every.org: All every.org donations are re-granted to METR as batched, unrestricted donations. Every.org does not charge METR for use of the platform, but transaction fees are deducted out of your donation. Here are the <a href="https://www.every.org/disbursements#fees">fees by donation type</a>.</p>

<h2 id="getting-in-touch">Getting in touch</h2>

<p>For questions or donation support, please reach out to <a href="mailto:donations@metr.org">donations@metr.org</a>.</p>
<div class="footnotes" role="doc-endnotes">
  <ol>
    <li id="fn:1">
      <p>To date, April 2025, we have not accepted compensation from AI companies for the evaluations we have conducted. <a href="#fnref:1" class="reversefootnote" role="doc-backlink">&#8617;</a></p>
    </li>
  </ol>
</div>

        </div>
      </div>

      

    </div>
  </div>
</div>




  </div>
  <div class="footer-container">
    
      <footer class="footer">
  <div class="container">
    <div class="row justify-content-center override-content-width">
      <div class="col-12 col-md-4">
        <ul>
          
            
              
              
              
              <li class="">
                <a href="/">Home</a>
              </li>
            
          
            
              
              
              
              <li class="">
                <a href="/about">About</a>
              </li>
            
          
            
              
              
              
              <li class="">
                <a href="/research">Research</a>
              </li>
            
          
            
              
              
              
              <li class="">
                <a href="/blog">Updates</a>
              </li>
            
          
            
              
              
              
              <li class="">
                <a href="/careers">Careers</a>
              </li>
            
          
            
              
              
              
              <li class="active">
                <a href="/donate">Donate</a>
              </li>
            
          
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <div id="custom-substack-embed"></div>
        <script>
           window.CustomSubstackWidget = {
            substackUrl: "metr.substack.com",
            placeholder: "example@gmail.com",
            buttonText: "Subscribe",
            theme: "custom",
            colors: {
              primary: "var(--color-bg-alt4)",
              input: "#FFFFFF",
              email: "#353535",
              text: "#000000",
            }
          };
        </script>
        <script src="/assets/js/substackapi_widget.js"></script>
      </div>
      <div class="col-12 col-md-3 offset-md-1 contact-email">
        <div><span class="email-label">Email:&nbsp;&nbsp;</span> <a href="mailto:info@metr.org">info@metr.org</a></div>
        <div class="social-items">
          <a class="social-item" href="https://x.com/METR_Evals">
            <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none">
              <title>twitter</title><path d="M14.094 10.317 22.28 1H20.34l-7.11 8.088L7.557 1H1.01l8.583 12.231L1.01 23H2.95l7.503-8.543L16.446 23h6.546M3.649 2.432h2.978L20.34 21.639h-2.98" fill="currentColor"></path>
            </svg>
          </a>
          <a class="social-item" href="https://github.com/METR">
            <svg width="98" height="96" viewBox="0 0 98 96" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#fff"></path>
            </svg>
          </a>
          <a class="social-item" href="https://www.linkedin.com/company/metr-evals/posts/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.3333 24.6H2.66666C1.1939 24.6 0 23.4061 0 21.9334V3.26676C0 1.794 1.1939 0.600098 2.66666 0.600098H21.3333C22.806 0.600098 23.9999 1.794 23.9999 3.26676V21.9334C23.9999 23.4061 22.806 24.6 21.3333 24.6ZM17.1052 21.2668H20.6667V13.9505C20.6667 10.855 18.9119 9.35821 16.4609 9.35821C14.0087 9.35821 12.9767 11.2678 12.9767 11.2678V9.71125H9.54448V21.2668H12.9767V15.2008C12.9767 13.5755 13.7249 12.6083 15.1569 12.6083C16.4733 12.6083 17.1052 13.5377 17.1052 15.2008V21.2668ZM3.33339 6.06581C3.33339 7.24336 4.28074 8.19814 5.44983 8.19814C6.61892 8.19814 7.56571 7.24336 7.56571 6.06581C7.56571 4.88827 6.61892 3.93349 5.44983 3.93349C4.28074 3.93349 3.33339 4.88827 3.33339 6.06581ZM7.25651 21.2668H3.67757V9.71125H7.25651V21.2668Z" fill="#fff"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

    

    
  </div>
</div>
<script type="text/javascript" src="/assets/js/scripts.js"></script>




<script async src="https://www.googletagmanager.com/gtag/js?id=G-MMLYWX6QCN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MMLYWX6QCN');
</script>




<script type="application/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    littlefoot.littlefoot({
      activateOnHover: true,
      dismissOnUnhover: true,
      buttonTemplate: `<button
        aria-label="Footnote <% number %>"
        class="littlefoot__button"
        id="<% reference %>"
        title="See Footnote <% number %>"
        />
        <span class="fn-ref-raw">[<% reference %>]</span>
      </button>`
    });
    transformFootnoteReferences();
    markLastFootnotesInGroupsByParagraph();
    addSpacesBetweenFootnotes();
  });
</script>



</body>
</html>